

<div class="row">
	<div class="col-md-3">
		<select class="form-control" ng-model="$ctrl.query">
			<option value="webDev"> Web development</option>
			<option value="GIS"> GIS</option>
			<option value="tools"> Tools</option>

		</select>
	</div>


	<div class="col-md-9">
		<dl ng-repeat="skill in $ctrl.skills | filter:$ctrl.query" class="dl-horizontal">
		  <dt><p>{{skill.name}}</p></dt>
		    <dd>
		      <div class="progress progress-striped active">
		        <div class="progress-bar" style="width: {{skill.knowledge}}%" >
		        </div>
		      </div>
		    </dd>
		</dl>
	</div>

</div>
